@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: #fff;
    height: 100vw;
}

section, header, nav{
    overflow-x: hidden;
}

/* INICIO HEADER */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav img{
    width: 15rem;
}

.showdrop{
    transition: 1s !important;
    display: block !important;
}

.dropdown{
    padding: 0  10px 0 10px !important;
    display: none;
    margin-top: 1rem;
    list-style: none;
    background-color: #000;
    width: 100%;
    height: 100%;
}

.dropdown-item{
    border-bottom: 1px solid #fff;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 10px;
}
.dropdown-item i{
    position: absolute;
    right: 3%;
    border-radius: 100%;
}
/* FIM DO HEADER */

/* INICIO FOOTER */
footer{
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin-top: 1.5rem;
    background-color: #000;
    width: 100%;
    height: 10rem;
}

.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.title-footer {
    font-weight: bold;
    /* margin-bottom: 8px; */
}
.footer-titles p{
    margin-bottom: 8px;
}

.footer-titles{
    font-size: .6em;
}

.footer-img img{
    width: 8rem;
}

.footer-social{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social .social-medias img{
    width: 1.5rem;
}

.footer-social a{
    margin-top: 10px;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 12px;
    font-size: .7em;
}
/* FIM DO FOOTER */

/* EXIBIÇÃO DO PRODUTO */

.content-show{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0;
}

.carousel{
    margin: 3rem 10px 3rem 10px !important;
}

.carousel-indicators [data-bs-target]{
    margin-top: 20px !important;
    height: auto !important;
    width: auto !important;
    padding: .4rem !important;
    border-radius: 50% !important;
}

.carousel-indicators{
    margin-bottom: -1rem !important;
}


.content-title{
    text-align: center;
    max-width: 80%;
}

.content-title .title{
    font-size: 2em;
}

.content-size .sizes {
    display: flex;
    flex-direction: row;
}

.content-size .sizes p{
    margin: 0 10px 30px 10px;
    background-color: #969696;
    padding: 3px 12px;
    border-radius: 9px;
    color: #fff;
    font-size: 1.2em;
}

.content-buy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
}
.content-buy .buy-title a{
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background-color: #385de1;
    font-weight: bold;
    font-size: 1.5em;
}

.content-buy .buy-title span{
    font-size: .8em;
}

.content-buy svg{
    margin-left: 10px;
    transform: rotateY(180deg)
}

/* RECOMEND */
.card-group{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    background-color: #00000096;
}
.card-item img{
    position: relative;
    width: 9rem;
    object-fit: cover;

}
.card-item{
    display: flex;
    align-items: center;
    max-width: 12rem !important;
    margin-bottom: 1rem;
    flex-direction: column;
}
.card-item a{
    text-decoration: none;
    color: #fff;

}

.carousel{
    margin-top: 1rem !important;
}

.carousel-item .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}

.new{
    display: flex;
    justify-content: space-between !important;
}
.card-item .title-card{
    display: flex;  
    justify-content: end;
    width: 100%;
    padding: 1rem;
}

.card-item .card-title{
    margin-top: 20px;
}

.recomended {
    background-color: #252525;
    display: flex;
    flex-direction: column;
}

.recomended label{
    padding: 1rem;
}

.recomended .carousel-control-next{
    position: relative;
    bottom: 0;
    left: 1px;
}

.recomended .carousel-control-prev{
    position: relative;
    bottom: 0;
    left: 3rem;
}

.recomended-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* RADIO */

.content-size{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.content-size .sizes label{
    font-size: 1.5em;
    margin-right:20px;
}

input[type='radio']{
    width: 20px;
    background-color: red;
}
input[type='radio']:checked{
    background-color: red;
}